:root{
    --rosePink: #FB76CF;
    --darkGray: #555555;
    --seasalt: #f8f8f8;
    --wisteria: #d6aae4;
    --sunset: #fac485;

}

*{
    font-family: work sans;
    color: var(--darkGray);
    /*overflow-x: hidden;*/
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--seasalt);
}

header{
    margin: none;
    width: 100%;
    font-size: 80%;
    font-weight: 600;
}
nav{
    width: 100vw;
    margin: none;
}

.navbar-brand{
    font-weight: 700;
}

section{
    width: 100vw;
    height: 100vh;
    margin: none;
}

section.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

div.rond{
    position:absolute;
    right: 1%;
    width: 50%;
    height: 90%;
    background-image: url(../assets/images/ROND1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

svg{
    display: block;
    opacity: 0;
    position: absolute; /* or relative */
    left: 50%;
    top: 50%;
    width: 40%;
}

svg.title-black{
    top: 50%;
    opacity: 1;
}

.h3{
    /*display: none;*/
    font-weight: 600;
    position: relative;
    top:39%;
    left: 29.7%;
}

.navbar-toggler{
    border: none;
}